.two-column{
    background-color: #ababab;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;


}

.two-column article{
    background-color: rgba(255,0,0, 0.5);
    width: 20%;
}
.other,
.two-column .other{
    background-color: rgba(0,255,0, 0.5);;
}
img{
    width: 100%;
}